body {
    display: flex;
}

img {
    height: 300px;
    width: 600px;
}

#dog-name {
    text-align: center;
}

ul {
    list-style-type: none;
    /* border: 1px solid black; */
    cursor: pointer;
}